* {
    margin: 0;
    padding: 0;
}

:root {
    --red: red;
    --blue: blue;
    --yellow: yellow;
    --green: green;
    --orange: orange;
    --purple: purple;
}

nav {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: var(--red);
}

h1 {
    margin-top: 5px;
    margin-left: 20px;
    font-size: xx-large;
}

/* ARTICLE */

article{
 display: flex;
 justify-content: center;
}

h2{
    margin-top: 30px;
}

/* SECTION */

.section {
    display: flex;
    justify-content: center;
}

.options,
.options2 {
    margin: 40px 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 150px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 140px;
    border-radius: 50px;
}

.boton, #botonCambiar, #empezar {
    width: 100px;
    height: 30px;
    border-radius: 50px;
    margin: 10px;
}

.opt1 {
    background-color: var(--blue);

}

.opt2 {
    background-color: var(--green);

}

.opt3 {
    background-color: var(--yellow);

}

.opt4 {
    background-color: var(--orange);

}

.opt5 {
    background-color: var(--red);

}

.opt6 {
    background-color: var(--purple);

}

/* BOTON 5 */

.espacioClass{
    display: flex;
    flex-direction: row;
}

.divE{
    width: 33%;
    height: 150px;
    margin: 0 30px;
    cursor: pointer;
}


.opt6{
    width: auto;
    min-width: 150px;

}

/* .agregar-item{
    margin: 10px;
} */
.itemS{
    cursor: pointer;
    margin: 10px;
}
.info-card{
    pointer-events: inherit;
}

.opcionesBoton6, #listaItemsElegidos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.toggleD{
    display: none;
}
.toggleS{
    display: flex;
    flex-direction: row;
}

#enemigoRandom{
    display: flex;
    justify-content: center;
}

#enemigo{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

/* Barra de vida */

.health-bar {
    margin: 20px auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 200px;
    height: 20px;
    padding: 5px;
    background: #ddd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
  }
  .bar {
    background: #c54;
    width: 100%;
    height: 10px;
    position: relative;
    
    transition: width .5s linear;
  }
  
  .hit {
    background: rgba(255,255,255,0.6);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 0px;
    
    transition: width .5s linear;
  }

  .lds-hourglass {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 6px;
    box-sizing: border-box;
    border: 26px solid #cef;
    border-color: #cef transparent #cef transparent;
    animation: lds-hourglass 1.2s infinite;
  }
  @keyframes lds-hourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }
  