* {
  margin: 0;
  padding: 0;
}


body{
  font-family: 'Nunito', sans-serif;
  text-transform: uppercase;

}

nav {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 70px;
  background-color: red;
  align-items: center;
}

.img-zf{
  margin-top: 15px;
}

.logoZf, .marvel{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  

}
.logoZf img{
  width: 100px;
  height: 70px;
  margin-left: 60px;
  object-fit: contain;
  position: absolute;

}
.logoZf p{
  margin-top: 50px;
  text-align: center;
margin-bottom: 7px;
}
 .marvel img{
  width: 100px;
  height: 50px;
  margin: 0 auto;
  object-fit: cover;
}
.logoZf p, .marvel p {
  font-size: 10px;
  font-weight: 600;
}

h1 {
  margin: 5px 20px 0;
  text-align: center;
  font-size: x-large;
  font-weight: 800;
}
/* h1 span{
  display: flex;
  justify-content: center;
} */
.music{
  display: none;
  height: 30px;
  margin-top: 15px;
}

#play{
  background: linear-gradient(90deg, rgb(29, 4, 139) 0%, rgb(65, 1, 107) 100%);
}



#play, #pause{
  display: none;
  height: 30px;
  margin: 15px 10px;
}
nav span{
  display: flex;
}

#ocultoB{
  display: none;
  flex-direction: row;
}

.créditos, .instrucciones, .audio{
  margin: 15px 7px;
  letter-spacing: 1.3px;
  font-weight: 700;
  box-shadow: 12px 12px 24px rgba(252, 251, 253, 0.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  background: linear-gradient(90deg, rgb(196, 1, 255) 0%, rgb(65, 1, 107) 100%);
  border-radius: 100px;
  font-size: 12px;
  text-transform: uppercase;
  color: #e4dceb;

}

.créditos::before, .instrucciones::before, .audio::before{
  content: '';
  border-radius: 100px;
  min-width: calc(100% + 12px);
  min-height: calc(100% + 12px);
  box-shadow: 0 0 60px rgba(234, 236, 236, 0.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all .3s ease-in-out 0s;
  opacity: 1;

}

.créditos:hover, .instrucciones:hover{
  color: white;
  transform: translateY(-2px);
  border: 6px solid white;
  

}
/* BIENVENIDA */



#bienvenidaArticle{
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 85vh;
}

#bienvenida {
  margin: 20px 30px 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  align-items:unset;
}

#bienvenida h2, #bienvenida p {

  margin: 20px;
  width: 90%;
}

#bienvenida p {
  font-size: 15px;
  font-family: 'Nunito', sans-serif;
}

.bienvenidaClass {
  background-color: darkblue;
  font-size: 13px;
}

.bienvenidaClass::after {
  position: absolute;
  content: "";
  top: calc(-1 * var(--border-width));
  left: calc(-1 * var(--border-width));
  z-index: -1;
  width: calc(100% + var(--border-width) * 2);
  height: calc(100% + var(--border-width) * 2);
  background: linear-gradient(60deg,
      hsl(224, 85%, 66%),
      hsl(269, 85%, 66%),
      hsl(314, 85%, 66%),
      hsl(359, 85%, 66%),
      hsl(44, 85%, 66%),
      hsl(89, 85%, 66%),
      hsl(134, 85%, 66%),
      hsl(179, 85%, 66%));
  background-size: 300% 300%;
  background-position: 0 50%;
  border-radius: calc(2 * var(--border-width));
  animation: moveGradient 4s alternate infinite;
}

.imgBienvenida, .imgBienvenida2,.imgBienvenida3,.imgBienvenida32,.imgBienvenida21, .salir{
  cursor: pointer;
}
.mensaje0, .mensaje1, .mensaje2, .mensaje3{
  display: flex;
  flex-direction: row;
  
}
.mensaje0{
  
  justify-content: space-around;
}

.mensaje0 div{
  max-width: 1200px;
  padding: 0;
}
#bienvenida .mensaje0 div p{
  width: 100%;
}
.textoImg{
  display: flex;
  flex-direction: row;
}
.mensaje0 div span a img{
width: 200px;
height: 70px;
object-fit: contain;

}

 .instrucciones1, .instrucciones2, .instrucciones3{
  display: flex;
  flex-direction: column;
  max-width: 1200px;

}
.instrucciones1 div, .instrucciones2 div, .instrucciones3 div{
  margin: 0 auto;
}
.instrucciones1 div img {
  width: 400px;
  margin: 0 20px;
}
.instrucciones2 div img{
  margin: 0 10px 0 0;
max-width: 738px;
width: 400px;
}
.instrucciones3 div{
  display: flex;
  align-items: center;
}
.instrucciones3 div img{
  margin: 0 30px 0 0;
  max-height: 270px;


}

.botones{
  display: flex;
flex-direction: column;
justify-content: space-between;
margin-right: 10px;
width: 100px;
}

.salir{
  height: 45px;
margin-top: 10px;
object-fit: contain;
}

/* ARTICLE */

article {
  display: flex;
  justify-content: center;
}

h2 {
  margin-top: 30px;
}



.options2 {
  margin: 20px 0;
  display: flex;
  justify-content: space-around;
  height: 900px;
}

.boton,
#botonCambiar,
#empezar {
  width: 100px;
  height: fit-content;
  border-radius: 50px;
  margin: 10px;
  
}

#botonCambiar{
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
}

/* BOTON ROJO */

.botonRojoContainer {
  background-color: rgb(255, 123, 0);
  margin: 0 20px;
  height: 150px;


}
.botonRojoContainer2 {
  background-color: rgb(255, 123, 0);
  margin: 0 20px;
  height: 150px;
}

.botonRojoContainer2 .imgAvatar{
  border-radius: 200px;

}

.gradientEnemy2 #enemigoRandom .enemigo .imgEnemigo{
  border-radius: 200px;
}

.gradientEnemy2 .health-bar {
  flex-grow: 0;
  width: 200px;
}


.info-card{
  font-size: 12px;
  text-align: center;
  display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.espacioClass {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: red;
}

.divE {
  width: 33%;
  height: 150px;
  margin: 0 30px;
  cursor: pointer;
}

.heroAvatar {
  width: 150px;
  height: 150px;
  margin-left: 10px;
}

#espacioAvatars {
  width: fit-content;
  padding: 10px 10px 5px 0;
  margin: 25px auto 0;
}

/* BOTON 6 */

/* ANIMACION SPINNER */

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 6px;
  box-sizing: border-box;
  border: 26px solid #cef;
  border-color: #cef transparent #cef transparent;
  animation: lds-hourglass 1.2s infinite;
}

@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  100% {
    transform: rotate(1800deg);
  }
}

/* CSS RESTO DEL BOTON PURPURA */

.agregar-item {
  cursor: pointer;
}

.botonPurpuraContainer {
  width: 170px;
  display: flex;
  flex-direction: row;
  height: 500px;
  flex-wrap: wrap;
  background-color: rgb(138, 66, 138);
  padding: 10px 0;

}
.botonPurpuraContainer2 {
  width: 400px;
  height: 400px;
  border-radius: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgb(138, 66, 138);
  margin-left: 22px;
  background-position-x: center !important;
  background-position-y: center !important;
  background-size: cover !important;
}

.botonPurpuraContainer2 div #empezar{
  height: 55px;
  left: 10px;
}
.botonPurpuraContainer2 div #botonCambiar{
  right: 10px;
}

.botonPurpuraContainer2 div #botonCambiar, .botonPurpuraContainer2 div #empezar{
  width: 55px;
  font-size: 13px;
  z-index: 10;
}

.itemS {
  cursor: pointer;
  margin: 10px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.imgItemS {
  display: flex;
  object-fit: contain;
  object-position: center;
  width: 50px;
  margin: 0 auto;
  box-shadow: 12px 12px 24px rgba(252, 251, 253, 0.64);

}

.itemS div h4 {
  text-align: center;
  margin-top: 5px;
  font-size: 12px;
}

.info-card {
  pointer-events: inherit;
}

#listaItemsElegidos {
  flex-direction: column;
  display: flex;
  justify-content: space-around;

}

.poderesAElegir div {
  margin: 0 5px;
  width: 80px;
  height: 80px;
  text-align: center;
  font-size: 12px;
}

.poderesAElegir {

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px auto;
  padding: 10px;
  width: fit-content;
}

.poderesAElegir::after {
  position: absolute;
  /* margin: 0 20px; */
  content: "";
  top: calc(-1 * var(--border-width));
  left: calc(-1 * var(--border-width));
  z-index: -1;
  width: calc(100% + var(--border-width) * 2);
  height: calc(100% + var(--border-width) * 2);
  background: linear-gradient(60deg,
      hsl(224, 85%, 66%),
      hsl(269, 85%, 66%),
      hsl(314, 85%, 66%),
      hsl(359, 85%, 66%),
      hsl(44, 85%, 66%),
      hsl(89, 85%, 66%),
      hsl(134, 85%, 66%),
      hsl(179, 85%, 66%));
  background-size: 300% 300%;
  background-position: 0 50%;
  border-radius: calc(2 * var(--border-width));
  animation: moveGradient 4s alternate infinite;
}

.toggleD {
  display: flex;
  flex-direction: row;
}

/* .toggleS {
  display: flex;
  flex-direction: row;
} */

#enemigoRandom {
  display: flex;
  justify-content: center;
}

#enemigo {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 5px 20px;
}

/* BARRA DE VIDA ENEMIGO */

.health-bar {
  margin: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 20px;
  padding: 5px;
  background: #ddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  flex-grow: 2;

  
  border-radius: 5px;
  position: relative;
}

.bar {
  background: #c54;
  width: 100%;
  height: 10px;
  position: relative;

  transition: width .5s linear;
}

.hit {
  background: rgba(255, 255, 255, 0.6);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0px;

  transition: width .5s linear;
}


/* ENEMIGO DEL BOTON PURPURA */

.enemigo {
  margin-top: 10px;
  
}

.enemigoYBarra {
  margin: 20px 20px 0 0 !important;
  height: 400px;
  background-position-x: center !important;
  background-position-y: center !important;
  background-size: cover !important;

}

.imgEnemigo {
  max-width: 200px;
  height: 200px;
width: 200px;
object-fit: contain;
}


.ulEnemigo li {
  list-style: none;
}

/* LOG DE LOS DAÑOS AL ENEMIGO */

.h4Enemigo,
.pEnemigo {
  margin: 2px;
}

.log {
  width: 500px;
  height: 350px;
  margin: 20px 0;
  padding: 0 25px;
  text-overflow: "-";
}
.log div{
  text-overflow: "-";

}
.logs {
  min-width: 100%;
  text-align: center;
  overflow: hidden;

}

.enemigoDañado {

  color: red;
  min-width: 100px;
}

/* BORDEs ANIMADOs */

.gradientBorder {
  --border-width: 7px;

  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  /* text-transform: uppercase; */
  color: white;
  border-radius: auto;

}

.puntuacionGradient2{
border-radius: 100px;
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}

.espacioClass::after {
  position: absolute;
  content: "";
  top: calc(-1 * var(--border-width));
  left: calc(-1 * var(--border-width));
  z-index: -1;
  width: calc(100% + var(--border-width) * 2);
  height: calc(100% + var(--border-width) * 2);
  background: linear-gradient(60deg,
      hsl(224, 85%, 66%),
      hsl(269, 85%, 66%),
      hsl(314, 85%, 66%),
      hsl(359, 85%, 66%),
      hsl(44, 85%, 66%),
      hsl(89, 85%, 66%),
      hsl(134, 85%, 66%),
      hsl(179, 85%, 66%));
  background-size: 300% 300%;
  background-position: 0 50%;
  border-radius: calc(2 * var(--border-width));
  animation: moveGradient 4s alternate infinite;
}

.gradientLogs {
  background: #222;
}
.gradientLogs2 {
  background: #222;
  border-radius: 50px;
  width: 200px;
  font-size: 12px;
}
.gradientLogs::after {
  position: absolute;
  content: "";
  top: calc(-1 * var(--border-width));
  left: calc(-1 * var(--border-width));
  z-index: -1;
  width: calc(100% + var(--border-width) * 2);
  height: calc(100% + var(--border-width) * 2);
  background: linear-gradient(60deg,
      hsl(224, 85%, 66%),
      hsl(269, 85%, 66%),
      hsl(314, 85%, 66%),
      hsl(359, 85%, 66%),
      hsl(44, 85%, 66%),
      hsl(89, 85%, 66%),
      hsl(134, 85%, 66%),
      hsl(179, 85%, 66%));
  background-size: 300% 300%;
  background-position: 0 50%;
  border-radius: calc(2 * var(--border-width));
  animation: moveGradient 4s alternate infinite;
}
.gradientLogs2::after {
  position: absolute;
  content: "";
  top: calc(-1 * var(--border-width));
  left: calc(-1 * var(--border-width));
  z-index: -1;
  width: calc(100% + var(--border-width) * 2);
  height: calc(100% + var(--border-width) * 2);
  background: linear-gradient(60deg,
      hsl(224, 85%, 66%),
      hsl(269, 85%, 66%),
      hsl(314, 85%, 66%),
      hsl(359, 85%, 66%),
      hsl(44, 85%, 66%),
      hsl(89, 85%, 66%),
      hsl(134, 85%, 66%),
      hsl(179, 85%, 66%));
  background-size: 300% 300%;
  background-position: 0 50%;
  border-radius: 50px;
  animation: moveGradient 4s alternate infinite;
}
.gradientEnemy {
  background: #222;
}
.gradientEnemy2{
  background: #222;
  width: 400px;
  flex-direction: column;

}
.gradientEnemy::after {
  position: absolute;
  content: "";
  top: calc(-1 * var(--border-width));
  left: calc(-1 * var(--border-width));
  z-index: -1;
  width: calc(100% + var(--border-width) * 2);
  height: calc(100% + var(--border-width) * 2);

  background: linear-gradient(60deg,
      hsl(222, 100%, 2%),
      hsl(241, 100%, 22%),
      hsl(249, 100%, 13%),
      hsl(271, 100%, 29%),
      hsl(276, 100%, 13%),
      hsl(0, 99%, 28%),
      hsl(0, 100%, 10%),
      hsl(0, 0%, 0%));
  background-size: 300% 300%;
  background-position: 0 50%;
  border-radius: calc(2 * var(--border-width));
  animation: moveGradient 4s alternate infinite;
}
.gradientEnemy2::after {
  position: absolute;
  content: "";
  top: calc(-1 * var(--border-width));
  left: calc(-1 * var(--border-width));
  z-index: -1;
  width: calc(100% + var(--border-width) * 2);
  height: calc(100% + var(--border-width) * 2);

  background: linear-gradient(60deg,
      hsl(222, 100%, 2%),
      hsl(241, 100%, 22%),
      hsl(249, 100%, 13%),
      hsl(271, 100%, 29%),
      hsl(276, 100%, 13%),
      hsl(0, 99%, 28%),
      hsl(0, 100%, 10%),
      hsl(0, 0%, 0%));
  background-size: 300% 300%;
  background-position: 0 50%;
  border-radius: 200px;
  animation: moveGradient 4s alternate infinite;
}

.botonPurpuraContainer::after {
  position: absolute;
  content: "";
  top: calc(-1 * var(--border-width));
  left: calc(-1 * var(--border-width));
  z-index: -1;
  width: calc(100% + var(--border-width) * 2);
  height: calc(100% + var(--border-width) * 2);
  background: linear-gradient(60deg,
      hsl(0, 100%, 41%),
      hsl(0, 99%, 27%),
      hsl(219, 98%, 36%),
      hsl(251, 100%, 24%));
  background-size: 300% 300%;
  background-position: 0 50%;
  border-radius: calc(2 * var(--border-width));
  animation: moveGradient 4s alternate infinite;
}
.botonPurpuraContainer2::after {
  position: absolute;
  content: "";
  top: calc(-1 * var(--border-width));
  left: calc(-1 * var(--border-width));
  z-index: -1;
  width: calc(100% + var(--border-width) * 2);
  height: calc(100% + var(--border-width) * 2);
  background: linear-gradient(60deg,
      hsl(0, 100%, 41%),
      hsl(0, 99%, 27%),
      hsl(219, 98%, 36%),
      hsl(251, 100%, 24%));
  background-size: 300% 300%;
  background-position: 0 50%;
  border-radius: 200px;
  animation: moveGradient 4s alternate infinite;
}

.botonRojoContainer::after {
  position: absolute;
  content: "";
  top: calc(-1 * var(--border-width));
  left: calc(-1 * var(--border-width));
  z-index: -1;
  width: calc(100% + var(--border-width) * 2);
  height: calc(100% + var(--border-width) * 2);
  background: linear-gradient(60deg,
      hsl(29, 100%, 48%),
      hsl(69, 98%, 49%),
      hsl(2, 96%, 57%),
      hsl(9, 100%, 57%));
  background-size: 300% 300%;
  background-position: 0 50%;
  border-radius: calc(2 * var(--border-width));
  animation: moveGradient 4s alternate infinite;
}
.botonRojoContainer2::after {
  position: absolute;
  content: "";
  top: calc(-1 * var(--border-width));
  left: calc(-1 * var(--border-width));
  z-index: -1;
  width: calc(100% + var(--border-width) * 2);
  height: calc(100% + var(--border-width) * 2);
  background: linear-gradient(60deg,
      hsl(29, 100%, 48%),
      hsl(69, 98%, 49%),
      hsl(2, 96%, 57%),
      hsl(9, 100%, 57%));
  background-size: 300% 300%;
  background-position: 0 50%;
  border-radius: 200px;
  animation: moveGradient 4s alternate infinite;
}

#puntuacionYResultados {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: darkblue;
  margin: 20px;
}

.puntuacionGradient::after {
  position: absolute;
  content: "";
  top: calc(-1 * var(--border-width));
  left: calc(-1 * var(--border-width));
  z-index: -1;
  width: calc(100% + var(--border-width) * 2);
  height: calc(100% + var(--border-width) * 2);
  background: linear-gradient(60deg,
      hsl(29, 100%, 48%),
      hsl(69, 98%, 49%),
      hsl(2, 96%, 57%),
      hsl(9, 100%, 57%));
  background-size: 300% 300%;
  background-position: 0 50%;
  border-radius: calc(2 * var(--border-width));
  animation: moveGradient 4s alternate infinite;
}
.puntuacionGradient2::after {
  position: absolute;
  content: "";
  top: calc(-1 * var(--border-width));
  left: calc(-1 * var(--border-width));
  z-index: -1;
  width: calc(100% + var(--border-width) * 2);
  height: calc(100% + var(--border-width) * 2);
  background: linear-gradient(60deg,
      hsl(29, 100%, 48%),
      hsl(69, 98%, 49%),
      hsl(2, 96%, 57%),
      hsl(9, 100%, 57%));
  background-size: 300% 300%;
  background-position: 0 50%;
  border-radius: 100px;
  animation: moveGradient 4s alternate infinite;
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}

.imgAvatar {
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: top;
}

/* TIMER */

/* * {
    margin: 0;
    padding: 0;
    font-family: "Arimo", sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  } */

/* body {
    background: #d7d7d7;
    color: white;
  } */

/*=================
  * TIMER
  *=================*/
.timer {
  width: fit-content;
  height: fit-content;
  display: block;
  /* position: absolute; */
  top: 50%;
  left: 50%;
  /* margin-left: -275px;
    margin-top: -124px; */
  color: white;
}

.timer * {
  cursor: default;
}

.timer h3 {
  width: 100%;
  font-size: 26px;
  letter-spacing: 4px;
  text-align: center;
}

.timer--clock {
  width: 100px;
  height: 20px;
  /* position: relative; */
  padding-left: 6px;
  margin: 0px 5px 5px -2px;
display: flex;
  overflow: hidden;
}

.timer--clock .clock-display-grp {
  width: 100%;
  position: relative;
}

.timer--clock .clock-display-grp .number-grp {
  width: auto;
  display: block;
  height: 156px;
  float: left;
  overflow: hidden;
}

.timer--clock .clock-display-grp .number-grp .number-grp-wrp {
  width: 100%;
  position: relative;
}

.timer--clock .clock-display-grp .number-grp .number-grp-wrp .num {
  width: 100%;
  position: relative;
  height: 156px;
}

.timer--clock .clock-display-grp .number-grp .number-grp-wrp .num p {
  width: auto;
  display: table;
  font-size: 20px;
  line-height: 15px;
  font-weight: bold;
}

.timer--clock .clock-separator {
  width: auto;
  float: left;
  display: block;
  height: 15px;
}

.timer--clock .clock-separator p {
  width: auto;
  display: table;
  font-size: 20px;
  line-height: 15px;
  font-weight: bold;
}

.timer h4 {
  width: 100%;
  font-size: 10px;
  letter-spacing: 6px;
  text-align: center;
  padding-top: 25px;
  float: left;
}

.minutes-group.clock-display-grp{
  display: flex;
justify-content: flex-end;
}
/* BOTONES ANIMACION */




/* .wrap {

    display: flex;
    align-items: center;
    justify-content: center;
  } */

.button {
  min-width: 30px;
  min-height: 6px;
  font-family: 'Nunito', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: rgb(182, 166, 219);

  background: linear-gradient(90deg, rgb(196, 1, 255) 0%, rgb(65, 1, 107) 100%);
  border: none;
  border-radius: 100px;
  box-shadow: 12px 12px 24px rgba(252, 251, 253, 0.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
}

button::before {
  content: '';
  border-radius: 100px;
  min-width: calc(100% + 12px);
  min-height: calc(100% + 12px);
  border: 6px solid #ad03fc;
  box-shadow: 0 0 60px rgba(234, 236, 236, 0.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;

}



.button:hover,
.button:focus {
  color: #e4dceb;
  transform: translateY(-6px);
}



button:hover::before,
button:focus::before {
  opacity: 1;
}

button::after {
  content: '';
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 6px solid #ae03fd;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

#botonRojo {
  background: linear-gradient(90deg, rgb(251, 12, 12) 0%, rgb(255, 8, 0) 100%);
  ;
  box-shadow: 12px 12px 24px rgba(255, 251, 1, 0.801);
  color: yellow;
  margin: 0 20px;
}

#botonRojo::after {
  border: 6px solid #f81403;

}

#botonRojo::before {
  border: 6px solid #f81403;

}

button:hover::after,
button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }

  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}

#resultados{
  margin: 5px 0 5px 0;
  font-size: 20px;
  font-weight: 900;
  color: red;
}
#puntuacion{
  text-transform: uppercase;
  font-family: 'Nunito', sans-serif;
  margin: 10px 0 5px 0;
  
}

/* ANIMACION CIRCULAR */

.container {
  width: 200px;
  height: 200px;
  margin: 10px auto;
  /* border: 1px solid #000; */
  position: relative;
  border-radius: 50%;
  animation: spin 5s linear infinite;
}
.item {
    /* width: 30px; */
  /* height: 30px; */
  line-height: 30px;
  /* text-align: center; */
  border-radius: 50%;
  position: relative;
  /* background: #f00; */
  animation: spin 5s  infinite reverse;
  /* linear */
  cursor: pointer;
}
@keyframes spin {
  100% {

    transform: rotate(1turn);
  }
}

@media only screen and (max-width: 990px) {

.gradientEnemy2{
  flex-direction: initial;
}
.gradientEnemy2 .health-bar {

  margin: 0 50px 65px;
    width: 200px;
    top: -10px;
    position: relative;
  }
}
@media only screen and (min-width: 741px) and (max-width: 990px) {

nav{
  margin-bottom: 20px;
}
#espacioAvatars{
  position: absolute;
  z-index: 100;
  top: 285px;
  padding: 0;
  height: 100px;
  /* margin-right: 30%; */
  left: 0;
  right: 0;
}
#espacioAvatars div img{
  width: 100px;
  height: 100px;
}
#poderes{
  position: absolute;
z-index: 100;
width: 300px;
height: 270px;
top: 6.6%;
left: -40%;
right: 0;
/* min-width: 37%; */
  /* right: 0; */
}

.logoZf, .marvel{
  margin: 0;
}
.logoZf img{
  margin: 0 30px;
}
.logoZf p, .marvel p{
  font-size: 8px;
  text-align: center;
}
.mensaje0{
  margin: 10px;
}
.mensaje0 div{
  padding: 0;
}
.mensaje0 div span a img{
  width: 100px;
  height: 60px;

}
.imgAvatar{
  width: 100px;
  height: 100px;
}
.instrucciones1 div img,.instrucciones2 div img, .instrucciones3 div .instrucciones3{
  width: 300px;
  margin: 10px;
}
#enemigo{
  flex-direction: row;
  flex-wrap: wrap;
}

.enemigo{
  display: flex;
  flex-direction: column;
}
.imgEnemigo {
  max-width: 150px;
  margin: 0 auto;
}
.enemigoYBarra{
  position: absolute;
  left: 13%;
  width: 300px;
  height: 300px;
  margin: 0px 40px 10px 0 !important;
}

.log{
  position: absolute;
  right: 5%;
  height: 300px;
  margin: 0px 10px 10px 0;
  width: 33%;

}
.log div{
  font-size: 12px;

}
.gradientLogs2{
  left: 55%;
  margin: 0 10px;
  width: 200px;
  height: 200px;
}

#enemigoRandom{
  flex-direction: column;
width: 500px;
}

.options2{
  margin-top: 0;
}
/* .poderesAElegir div{
  text-align: center;
} */

.botonPurpuraContainer{
  position: absolute;
  width: fit-content;
  min-width: 400px;
  margin: 10px;
height: 80px;
top: 84.9%;
left: 40%;
}
.botonPurpuraContainer2 {
  position: absolute;
  width: 300px;
  height: 300px;
margin: 0px 10px 20px 20px;
top: 60%;
left: 50%;
}

.botonPurpuraContainer2 div #empezar{
  position: absolute;

  height: 50px;
  bottom: 120px;
  right: 110px;

}
.botonPurpuraContainer2 div #botonCambiar{
  height: 50px;
  position: absolute;
  bottom: 120px;
  right: 10px;
}
.botonPurpuraContainer2 #listaItemsElegidos {
  position: absolute;
  right: 55px;
top: 120px;
}
.botonPurpuraContainer2 #listaItemsElegidos .item div h4{
  font-size: 0;
}
#listaItemsElegidos {
  
  flex-direction: row;
  height: 40px;
}

.x h4{
  width: 60px;
  height: 40px;
}
.info-card{
  flex-direction: column;
}
.botonYPuntuacion{
  position: absolute; 
  top: 455px;
  right: 60%;
  display: flex;
  flex-direction: row;
  height: fit-content;
}
.botonRojoContainer{
  height: 100px;
  width: 100px;
  margin: 10px;
}
.botonRojoContainer2{
  height: 100px;
  margin-top: 10px;
}


#puntuacionYResultados{
  margin: 10px;
 height: 100px;
 width: 100px;
}


.itemS, .item{
font-size: 10px;
margin: 15px 5px 0;
}

.imgItemS{
  width: 40px;
}

#empezar{
margin-bottom: 30px;

}

#botonCambiar{
  margin-bottom: 30px;
}

.créditos, .instrucciones{
  width: 80px;
  font-size: 8px;

}
.boton, #botonCambiar, #empezar {
  width: 66px;
  font-size: 8px;

}
.gradientEnemy2::after{
  width: 105%;
}

}

/* //////////////////////////////////////////////////////////// */

@media only screen and (min-width: 0px) and (max-width: 741px) {
  body{
    min-height: 800px;
  }

  nav .créditos, nav .instrucciones{
    font-size: 0 ;
    height: 20px;
    width: 20px;
  }
  .créditos{
    background-image: url(https://img.icons8.com/external-itim2101-flat-itim2101/30/000000/external-copyright-copywriting-itim2101-flat-itim2101-7.png) ;
    background-color: rgb(65, 1, 107);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
  }
  .instrucciones{
    background-image: url(https://img.icons8.com/external-prettycons-lineal-color-prettycons/30/000000/external-instructions-office-prettycons-lineal-color-prettycons.png) ;
    background-color: rgb(65, 1, 107);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
  }
  #botonJuega{
    background-image: url(https://img.icons8.com/external-kmg-design-outline-color-kmg-design/30/000000/external-power-ui-essential-kmg-design-outline-color-kmg-design.png) ;
    /* background-color: rgb(65, 1, 107); */
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
  }
  #botonRojo{
    background-image: url(https://img.icons8.com/color-glass/30/000000/cat-profile.png) ;
    /* background-color: rgb(65, 1, 107); */
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
  }
  .options2{
    height: auto;
    margin: 0;
  }
  bienvenida h2, #bienvenida p {
    margin: 5px;
    font-size: 10px;
  }
  #bienvenida h2{
    font-size: 12px;
  }
  #bienvenidaArticle{
    height: auto;
  }
  #espacioAvatars{
    position: absolute;
    z-index: 100;
    top: 65px;
    left: 0;
    right: 0;
    max-width: 350px;
  }
  #espacioAvatars div img{
    width: 100px;
    height: 100px;
  }
  #poderes{
    position: absolute;
  z-index: 100;
  width: 305px;
  height: 200px;
  top: 48.8%;
  left: 0;
    right: 0;
  }

  .mensaje0 div span a img{
    width: 60px;
    height: 40px;

  }
  .mensaje0{
    margin: 10px;
  }
  .mensaje0 div{
    padding: 0;
  }
  .logoZf, .marvel{
    display: none;
  }

 .botones{
  margin-right: 0px;
  width: 30px;
 }
 .botones div img{
   width: 30px;
 }
  .instrucciones1 div img,.instrucciones2 div img, .instrucciones3 div .instrucciones3{
    width: 200px;
    margin: 10px;
  }
  .instrucciones3 div{
    max-width: 300px;
  }
  .instrucciones3 div {
    margin: 0;
  }
  .instrucciones3 div img{

  margin: 0;
  }
  .instrucciones3b{
    width: 100px;
  }
  #enemigo{
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5px 0;
  }
  .enemigoYBarra{
    margin-top: 10px !important;
  }
  .enemigo{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .info-card{
    
    font-size: 10px;
    text-align: center;
  }
  .imgEnemigo {
    max-width: 100px;
    margin: 0 auto;
    height: 100px;
  }

  .log div{
    font-size: 10px;
  }
  .imgAvatar{
    width: 100px;
    height: 100px;
  }
  .enemigoYBarra{
    width: 200px;
    height: 200px;
    left: 3.5%;
    margin: 10px 5px;
  }
  
  .log{
    height: 200px;
    margin: 10px 20px 0;

    width: 150px !important;
  }
  
  #enemigoRandom{
    flex-direction: column;
  width: 500px;
  }
  
  .botonPurpuraContainer {
    width: 200px;
  height: 100px;
  margin: 20px 10px 20px 20px;
  
  }
  .botonPurpuraContainer .itemS{
    margin: 10px;
  }
  .botonPurpuraContainer #empezar{
    margin-bottom: 80px;
    margin-left: 30px;
  }
  .botonPurpuraContainer #botonCambiar{
    margin-top: 60px;
    margin-right: 30px;
  }
  .botonPurpuraContainer2{
    width: 200px;
    height: 200px;
    margin: 20px 20px 0 0;
  }
  .itemS div h4 {
    
    font-size: 0px;
}
  #listaItemsElegidos {
    position: absolute;
    flex-direction: row;
 
  }
  
  .botonYPuntuacion{
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin: 10px 5px 0 10px;
  }



  .botonRojoContainer{
    height: 100px;
    margin: 10px;
  }
  .botonRojoContainer2{
    height: 100px;
    margin: 10px;
  }
  #puntuacionYResultados{
    margin: 10px;
    width: 100px;
   height: 100px;
  }
  .itemS, .item{
  font-size: 0px;
  margin: 5px 0 5px 5px;
  }
  
  .imgItemS{
    width: 30px;
  }
  
  #empezar{
  margin: 0;
  background: url(https://img.icons8.com/external-wanicon-flat-wanicon/20/000000/external-videogame-stay-at-home-wanicon-flat-wanicon.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  height: 55px;
    left: -60px;
  }
  .botonPurpuraContainer2 div #empezar {
    height: 55px;
    left: -40px;
}

  .botonPurpuraContainer2 div #botonCambiar  {
    height: 55px;

    right: -40px;
}
  #botonCambiar{
  margin: 0;
  background: url(https://img.icons8.com/external-becris-flat-becris/20/000000/external-transfer-customer-loyalty-program-becris-flat-becris.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  height: 55px;

    right: -60px;
  }
  .créditos, .instrucciones{
    width: 80px;
    font-size: 8px;
  
  }
  .boton, #botonCambiar, #empezar {
    width: 20px;
    height: 30px;
    font-size: 0px;
  
  }
  #espacioAvatars {
    width: 335px;
  }
  .info-card {
    flex-direction: column;
  }
  .gradientEnemy2 .health-bar {
    margin: 0px 50px 0px;
  }
  .gradientEnemy2::after{
    width: 105%;
  }
  .botonPurpuraContainer2{
    width: 200px;
    border-radius: 200px;
  }
}

@media only screen and (min-width: 0px) and (max-width: 459px) {
  .botonPurpuraContainer {
    margin: 20px 10px 20px 5px;
}
  .log{
    margin: 20px 20px 0 30px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 419px) {

  #espacioAvatars {
    width: 250px;
    margin-top: 20px;
  }
.log{

  margin: 20px 20px 0;

}
#poderes{
 
top: 49.8%;

}
}